# Кэш Python (создается автоматически при запуске скриптов)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если ты его используешь)
venv/
.venv/
env/

# Настройки среды разработки (например, VS Code или PyCharm)
.vscode/
.idea/